<!DOCTYPE html>
<html ng-app="registerModule">
<head>
    <title>QR Register</title>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.17/angular.min.js"></script>
    <script type="text/javascript" src="https://raw.githack.com/nikunjness/QRRegister/master/qrregister/libs/angular.simplecouch.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/nikunjness/QRRegister/master/qrregister/libs/qrcode.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        html,body{
            height: 100%;
            width: 100%;
        }
        footer {
            position: absolute;
            bottom: -120px;
            width: 100%;
            height: 45px;
            background-color: #f5f5f5;
        }
    </style>
    </head>
<body ng-controller="registerController" ng-init="initApp()">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="#">The Ahmedabad Java Meetup</a>
        </div>
    </div>

<br /><br /><br /><br />
<div class="container" ng-show="registrationpanel">
    <div align="center">
        <h3>Google I/O Extended Ahmedabad 2014</h3>
    </div>
    <div class="well">
        <div ng-show="errorWhileSubmit" class='alert alert-danger'>{{ errorWhileSubmit }}</div>
        <div ng-show="successWhileSubmit" class='alert alert-success'>

            {{ successWhileSubmit }}</div>
        <form class="form-horizontal" role="form" ng-submit="save()">
            <legend>
                Register
            </legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="Attendee.name" required placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Contact</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" ng-model="Attendee.contact" required placeholder="Contact">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" ng-model="Attendee.email" required placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Linkedin</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" ng-model="Attendee.linkedin" pattern="(?:http[s]?://|www|[linkedin]+)+\.[^\']+" placeholder="Your linkedin profile url">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </div>

        </form>
        <form class="form-horizontal" role="form" ng-submit="getTicket()">
            <legend>Already registered?</legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">Get your ticket here</label>
            <div class="col-sm-10">
                <input type="email" ng-model="email" class="form-control" required placeholder="Enter your registered email here">
            </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" ng-click="getTicket(email)" class="btn btn-default">Get ticket</button>
                </div>
            </div>

        </div>
        </form>
    </div>
</div>
<div class="container" ng-show="masterpanel">

        <tabset>
            <tab heading="{{ all_docs.rows.length }} Registered">
                <table class="table table-condensed table-hover" ng-show="all_docs">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Linkedin</th>
                        <th>isPresent</th>
                        <th> QRCode </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="candidate in all_docs.rows">
                        <td>{{ candidate.value.name }}</td>
                        <td>{{ candidate.value.email }}</td>
                        <td>{{ candidate.value.contact }}</td>
                        <td> <a href="{{ candidate.value.linkedin }}" target="_blank">
                            {{ candidate.value.linkedin }} </a> </td>
                        <td>{{ candidate.value.ispresent }}</td>
                        <td> <img src="{{ candidate.value.qrImage }}" width="98" height="98"/></td>
                    </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading="{{ present_docs.rows.length }} Present">
            <table class="table table-condensed table-hover" ng-show="all_docs">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Linkedin</th>
                    <th>isPresent</th>
                    <th> QRCode </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="candidate in present_docs.rows">
                    <td>{{ candidate.name }}</td>
                    <td>{{ candidate.email }}</td>
                    <td>{{ candidate.contact }}</td>
                    <td> <a href="{{ candidate.linkedin }}" target="_blank">
                        {{ candidate.linkedin }} </a> </td>
                    <td>{{ candidate.ispresent }}</td>
                    <td> <img src="{{ candidate.qrImage }}" width="98" height="98"/></td>
                </tr>
                </tbody>
            </table>
            </tab>
            <tab heading="{{ absent_docs.rows.length }} Absent">
                <table class="table table-condensed table-hover" ng-show="all_docs">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Linkedin</th>
                        <th>isPresent</th>
                        <th> QRCode </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="candidate in absent_docs.rows">
                        <td>{{ candidate.name }}</td>
                        <td>{{ candidate.email }}</td>
                        <td>{{ candidate.contact }}</td>
                        <td> <a href="{{ candidate.linkedin }}" target="_blank">
                            {{ candidate.linkedin }} </a> </td>
                        <td>{{ candidate.ispresent }}</td>
                        <td> <img src="{{ candidate.qrImage }}" width="98" height="98"/></td>
                    </tr>
                    </tbody>
                </table>
            </tab>
        </tabset>


</div>
<div id="qrcode" hidden="true"></div>
<div id="ticket" class="container" ng-show="TicketFound">
    <div class="well">
    <a href="" onclick="printSelection(document.getElementById('ticket'))">print your ticket.</a>
    <table>
        <tr>
            <td colspan="2" align="center"><h4> Google I/O Extended Ahmedabad </h4></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><h5>Entry Ticket</h5></td>
        </tr>
        <tr>
            <td align="left"> {{ ticket.name }} </td>
            <td align="right"> <img src="{{ ticket.data }}" width="98" height="98"/> </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                Venue : <b>Ishi Systems</b> <br />
                A 6/7, 6th Floor, <br />Safal Profitaire, <br />Near Auda Garden, <br />Prahlad Nagar Corp Road,<br />
                Opp Ramada Hotel, <br />Ahmedabad
            </td>
        </tr>
    </table>
    </div>
</div>
<div class="container" ng-show="markAttendace">
    <div class="well">
        <div ng-show="markSuccess" class='alert alert-success'>
            {{ markSuccess }}
        </div>
        <div ng-show="markFailure" class='alert alert-danger'>
            {{ markFailure }}
        </div>
    </div>
</div>
<footer>
    <div align="center" class="container">
        <p class="muted credit" style="padding-top: 15px">Powered by <a href="http://www.ishisystems.com" target="_blank">Ishi Systems</a></p>
    </div>
</footer>
</body>
<script type="text/javascript">
    function printSelection(node) {

    var content = node.innerHTML
    var pwin = window.open('', 'print_content', 'width=100,height=100');

    pwin.document.open();
    pwin.document.write('<html><body onload="window.print()">' + content + '</body></html>');
    pwin.document.close();

    setTimeout(function () {
        pwin.close();
    }, 5000);
}

var registerModule = angular.module('registerModule', ['SimpleCouch',  'ui.bootstrap']);
    var config = angular.module('Config', ['SimpleCouch']).config(function (couchConfigProvider,$httpProvider) {
        couchConfigProvider.setServer('http://127.0.0.1:5984');

    });


    function registerController($scope, $http, $location,  couchdb) {
        $scope.Attendee = {};
        $scope.couchdb = couchdb;
        $scope.variable = '';
        $scope.errorWhileSubmit = null;
        $scope.successWhileSubmit = null;
        $scope.TicketFound = null
        $scope.couchdb.config.setServer('http://localhost:5984');
        $scope.couchdb.db.use('qrregister');
        $scope.email = null
        $scope.all_docs = {}
        $scope.present_docs = {}
        $scope.absent_docs = {}
        $scope.masterpanel=false
        $scope.registrationpanel = true
        $scope.markAttendace = false
        $scope.ticket = {}
        $scope.markFailure =null
        $scope.markSuccess =null

        var parameters = $location.search();
        if (parameters.admin) {
            $scope.masterpanel = true;
            $scope.markAttendace = false
            $scope.registrationpanel = false
        }
        else if(parameters.mark){
            $http({
                method: "PUT",
                url: $scope.couchdb.config.getDbUri()+"/_design/attendee/_update/mark/"+parameters.mark
            }).success(function (data, status) {
                $scope.markSuccess = "Attendance for "+parameters.mark+" has successfully marked"
            }).error(function (data, status){
                $scope.markFailure = "Attendance for "+parameters.mark+" has not marked. Please confirm the registration details"
            });
            $scope.markAttendace = true
            $scope.masterpanel = false;
            $scope.registrationpanel = false
        }
        else {
            $scope.markAttendace = false
            $scope.masterpanel = false
            $scope.registrationpanel = true
        }
        $scope.getalldocs = function()
        {
            $http.get($scope.couchdb.config.getDbUri()+"/_design/attendee/_view/all").success(function(data){
                console.log(data);
                $scope.all_docs = data;
                $scope.present_docs = {rows:[]};
                $scope.absent_docs = {rows:[]};
                for( i in $scope.all_docs.rows){
                    var c = $scope.all_docs.rows[i].value;
                    console.log(c);
                     if(c.ispresent == "true"){
                         $scope.present_docs.rows.push(c);
                     }else{
                         $scope.absent_docs.rows.push(c);
                     }
                }

            }).error(function(data){console.log("Error"+data);});
        }

        $scope.create_qrcode = function(text, typeNumber, errorCorrectLevel, table) {

            var qr = qrcode(typeNumber || 6, errorCorrectLevel || 'M');
            qr.addData(text);
            qr.make();

            //	return qr.createTableTag();
            return qr.createImgTag();
        };


        $scope.getTicket = function(emailVal){
            console.log(emailVal)
            $scope.couchdb.doc.get(emailVal,
                    function(data){
                        console.log("Found");
                        $scope.TicketFound = "Ticket successful" ;
                        $scope.ticket.name = data.name
                        $scope.ticket.data = data.qrImage
                        window.setTimeout(function () {
                            $scope.$apply(
                                    function () {
                                        $scope.TicketFound = null;
                                        $scope.email = null
                                    }
                            )
                        }, 20000);
                    },
                    function(data){
                        console.log("Not Found");
                        $scope.TicketNotFound = "It seems you have not registered yet. Do it quickly."
                        $scope.ticket = {};
                        window.setTimeout(function () {
                            $scope.$apply(
                                    function () {
                                        $scope.TicketNotFound = null;

                                    }
                            )
                        }, 20000);
                    });

        }
        $scope.save = function()
        {
            $scope.Attendee._id = $scope.Attendee.email
            $scope.Attendee.type='Attendee'
            $scope.Attendee.ispresent= "false"
            $scope.qrURL= $scope.couchdb.config.getDbUri()+"app/index.html#?mark="+$scope.Attendee._id
            $scope.qrURL = $scope.qrURL.trim()
            $scope.QRDiv = document.getElementById('qrcode');
            $scope.QRDiv.innerHTML = $scope.create_qrcode($scope.qrURL)
            $scope.data = $scope.QRDiv.childNodes[0].src
            $scope.Attendee.qrImage = $scope.data
            $scope.data = $scope.data.replace('data:image/gif;base64,','');
            $scope.couchdb.doc.post($scope.Attendee,
                    function(data){
                        $scope.successWhileSubmit = "Registration successful" ;
                        var email = {}
                        email.email = $scope.Attendee.email
                        email.name = $scope.Attendee.name
                        email.data = $scope.data
                        $http({
                            method: 'PUT',
                            url: '/_sendmail/',
                            data : TransformRequest(email),
                            headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                        }).success(function (data) {
                            console.log(data);
                        }).error(function (data) {
                            console.log(data);
                        });
                        $scope.TicketFound = true
                        $scope.ticket.name = $scope.Attendee.name
                        $scope.ticket.data = $scope.Attendee.qrImage
                        $scope.Attendee = {};
                        window.setTimeout(function () {
                            $scope.$apply(
                                    function () {
                                        $scope.successWhileSubmit = null;
                                        $scope.TicketFound = null
                                    }
                            )
                        }, 5000);
                    },
                    function(data){
                        if(data.error=="conflict")
                            $scope.errorWhileSubmit = "You are already registered. Please check your email for ticket. :) ";
                        else
                            $scope.errorWhileSubmit = data.reason
                        $scope.Attendee = {};
                        window.setTimeout(function () {
                            $scope.$apply(
                                    function () {
                                        $scope.errorWhileSubmit = null;
                                        $scope.ticket = null;
                                    }
                            )
                        }, 5000);
                    });
        }

        var TransformRequest = function (data) {
            /**
             * The workhorse; converts an object to x-www-form-urlencoded serialization.
             * @param {Object} obj
             * @return {String}
             */

            var param = function (obj) {
                var query = '';
                var name, value, fullSubName, subName, subValue, innerObj, i;
                for (name in obj) {
                    console.log("Name :" + name);
                    value = obj[name];

                    if (value instanceof Array) {
                        for (i = 0; i < value.length; ++i) {
                            subValue = value[i];
                            fullSubName = name + '[' + i + ']';
                            innerObj = {};
                            innerObj[fullSubName] = subValue;
                            query += param(innerObj) + '&';
                        }
                    }
                    else if (value instanceof Object) {
                        for (subName in value) {
                            subValue = value[subName];
                            fullSubName = name + '[' + subName + ']';
                            innerObj = {};
                            innerObj[fullSubName] = subValue;
                            query += param(innerObj) + '&';
                        }
                    }
                    else if (value !== undefined && value !== null) {
                        query += encodeURIComponent(name) + '=' + encodeURIComponent(value) + '&';
                    }
                }
                console.log("Parameter Data : " + query);
                return query.length ? query.substr(0, query.length - 1) : query;
            };

            return angular.isObject(data) && String(data) !== '[object File]' ? param(data) : data;
        }

        $scope.initApp = function(){
            var searchview= {
                '_id': '_design/attendee',
                'language': 'javascript',
                'views': {
                    'all': {
                        'map': (function (doc) {
                            if (doc.type == 'Attendee') {
                                emit(doc.type, doc);
                            }
                        }).toString()
                    }
                },
                'updates': {
                    'mark': (function(doc, req) {
                        if (!doc){
                            return [null, {'code': 400,
                                'json': {'error': 'missed',
                                    'reason': 'no document to update'}}]
                        } else {
                            doc.ispresent = 'true';
                            return [doc, {'json': {'status': 'ok'}}];
                        }
                    }).toString()
                }

            };
            $scope.couchdb.doc.post(searchview,
                    function(data){
                        $scope.successWhileSubmit = "App initialized successfully";
                        window.setTimeout(function () {
                            $scope.$apply(
                                    function () {
                                        $scope.successWhileSubmit = null;
                                    }
                            )
                        }, 5000);
                    },
                    function(data){
                        $scope.errorWhileSubmit = "";
                        window.setTimeout(function () {
                            $scope.$apply(
                                    function () {
                                        $scope.errorWhileSubmit = null;
                                    }
                            )
                        }, 5000);
                    });
            $scope.getalldocs();
        }
    };
    registerModule.controller('registerController' , registerController);
</script>
</html>